<html lang="en">
    <head>
    <meta charset="TUF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width initial-scale=1.0 ">
    <link rel="icon" href="">
    <link rel="canonical" href="">
    <title>Chocolate List</title>
    </head>
    <body>
        <div>
            {% if chocolateDesc is not None %} {% comment %} use IF Template Tag in Html {% endcomment %}
              <h1>Product name is {{ chocolateName|title }}</h1> {% comment %}Variable and Django Template filter {% endcomment %}
              <p>{{ chocolateDesc }}</p> {% comment %} use variable in Html {% endcomment %}
            {% else %}
               <h1>Product name is {{ chocolateName|title }}
               <p style="font-size:16px;">Unfortunately,{{ chocolateName|title }} is currently not available for sale on the site. </p>
            {% endif %}
           {% comment %} <h1>Product name is {{ chocolateName|title }}</h1> Variable and Django Template filter {% endcomment %}
           {% comment %} <p>{{ chocolateDesc }}</p>  use variable in Html {% endcomment %}
        </div>    
    </body>
</html>        