<html lang="en">
    <head>
    <meta charset="TUF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width initial-scale=1.0 ">
    <link rel="icon" href="">
    <link rel="canonical" href="">
    <title>Chocolate </title>
    </head>
    <body>
        <div>
            <h1>Chocolate List </h1> 
            <ul> 
                {%for item in chocolateList%}
                    <li><a href="{% url 'chocolateCat_Name' chocolates=item %}">{{item | title }}</a></li>
                {% endfor %}

            </ul>{% comment %} Using the URL Template tag in HTML codes to create dynamic links {% endcomment %}
        </div>    
    </body>
</html>        