<html lang="en">
    <head>
    <meta charset="TUF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width initial-scale=1.0 ">
    <link rel="icon" href="">
    <link rel="canonical" href="">
    <title>Products List</title>
    </head>
    <body>
        <div>
            <h1>List of Products</h1>
            <ul>
                <li><a href="">chocolate</a></li>
                <li><a href="">Baking ingredients</a></li>
                <li><a href="">Decorating supplies</a></li> 
                <li><a href="">Pastry necessities</a></li>      
            </ul>
        </div>    
    </body>
</html>        